body{
    background-image: url(images/slider_2_bkgrd_m4.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    font-family: poppins;
}

.navigation{
    display: flex;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65%;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.order-tab:hover a{
    color:orange;
}

.nav{
    display:inline-block;

}
.nav-tabs{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    font-size: 10pt;
    padding: 10px 10px;
    border-radius: 30px;

}
a:hover {
    color:orange;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.product{
    display: inline-block;
    font-size: 18pt;
    margin: 30px;
}
.order-tab{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    font-size: 12pt;
    background:linear-gradient(to right,orangered,orange,orange,orange);
    padding: 10px 20px;
    border-radius: 50px;

}

.order-tab:hover{
    color:orange;
    background: white;
    cursor: pointer;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.headphone-image{
    position: relative;
    right: 100px;
    width: 800px;
    height: 450px;
    margin-top: 70px;
    transform: rotate(25deg);
}

.discount{
    display: inline;
    position: absolute;
    font-size: larger;
    font-weight: bolder;
    color:white;
    background-color:rgb(17, 14, 36);
    padding: 30px 20px;
    border-radius: 100%;
    top:165px;
    left: 470px;


}
.headphone{
    width: 25%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    right: 200px;
}
.hr{
    font-size: 16pt; 
    margin-bottom: 0%;
}
.off{
    border: 1px solid white;
    padding: 2px 5px;
    font-size:11pt;
    margin: 10px;
    border-radius: 5px;

}
.name{
    margin-top: 20px;
    font-size: 48pt;
    font-weight: bolder;
    margin-bottom: 0;
    font-family: "poppins-bold",sans-serif;
}
.s7{
    font-size: 34pt;
    margin-top: 0;
    position: relative;
    bottom: 10px;
    margin-bottom: 0%;
}
.para{
    font-size: 11pt;
    margin-top: 0%;
    text-align:left;

}
.cart{
    background:linear-gradient(to right,orangered,orange,orange,orange);
    width: fit-content;
    padding: 10px 20px;
    border-radius: 50px;
    box-sizing: border-box;
}
.fa{
    margin-right: 10px;
}
.cart:hover{
    color:orange;
    background: white;
    cursor: pointer;

}
.cart:hover .atoc{
    color:orange;
}
.box-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
}
.box{
    display: flex;
    flex-direction: column;
    border:solid 1px lightgrey;
    text-align:center;
    margin: 12px;
    padding: 30px 50px;
    border-radius: 10px;
    width: 15%;
    height: 220px;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-sizing: border-box;
}
.icon{
    color:purple;
}
.desc{
    font-size: 10.5pt;
    font-weight:bolder;
    color:rgb(17, 14, 36);
}

.color{
    text-align: center;
    font-family: "poppins-bold",sans-serif;
    color:rgb(17, 14, 36);
    margin-top: 100px;
    font-weight: bolder;
    font-size: 30pt;
    margin-bottom: 20px;
}
.background{
    background-image: url(images/b5149fb6c89443579331f0ce33a757da--polka-dot-fabric-pink-fabric.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:contain;
    background-position:bottom;
}
.temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.para-skin{
    width: 600px;
    text-align-last: center;
    margin-top: 0;
    color: rgb(51, 43, 106);
}

.images-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}
.image{
    width: 200px;
    height: 300px;
    margin-left: 20px;
}
.image-big{
    width: 200px;
    height: 300px;
    margin-left: 20px;
}
.image-big:hover{
    width: 250px;
    height: 350px;
    background:linear-gradient(to right,orangered,orange,orange,orange);
    padding: 20px;
    border-radius: 20px;
}
.image:hover{
    width: 250px;
    height: 350px;
    background:linear-gradient(to right,orangered,orange,orange,orange);
    padding: 20px;
    border-radius: 20px;
}
.dot{
    width: 12px;
    height: 12px;
    background-color:gray;
    border-radius: 50%;
    margin: 5px;
}
.dot-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.dot:hover{
    background:linear-gradient(to right,blue,purple);
}

/*.dot1:hover .image1{
    width: 250px;
    height: 350px;
    background:linear-gradient(to right,orangered,orange,orange,orange);
    padding: 20px;
    border-radius: 20px;
}*/
.day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-left: 300px;
    margin-top: 80px;
    position: relative;
    right: 30px;
}
.icon-heading{
    font-family: "poppins-bold",sans-serif;
    font-size: 30pt;
    color:rgb(29, 24, 60);
    word-spacing: 0.1em;
}
.icon-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
.details{
    margin-left: 10px;
    color:rgb(29, 24, 60);
    font-size: 10pt;
}
.fa-bell-o{
    color:purple;
    position: relative;
    top: 35px;
    width: 20px;
    height: 15px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 100%;
    padding: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.icon-para{
    font-size: 9pt;
    position: relative;
    color: rgb(51, 43, 106);
}
.fa-chain-broken{
    color:purple;
    position: relative;
    top: 35px;
    width: 20px;
    height: 15px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 100%;
    padding: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.fa-backward{
    color:purple;
    position: relative;
    top: 35px;
    width: 20px;
    height: 15px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 100%;
    padding: 10px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}
.person-images{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 80px;
    margin-left: 50px;
    position: relative;
    top: 50px;
}
.girl-image{
    width: 200px;
    height: 300px;
    margin-bottom:0px;
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    place-items: stretch;
}
.boy-image{
    width: 200px;
    height: 250px;
    margin: 20px;
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    place-self:center end;

}
.child-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 130px;
    height: 110px;
    margin: 0px 10px;
    border-radius: 20px;
    place-self: start end;
    position: relative;
    bottom: 30px;
    left: 10px;

}
.icons-images{
    display: flex;
    flex-direction: row;
    margin-top: 0%;
}
.black-headphone{
    width: 400px;
    height: 450px;
    border-radius: 20px;
    margin: 130px;
    margin-left:280px;
    margin-right: 100px;
}
hr{
    opacity: 0.3;
}
.easy-content{
    display: flex;
    flex-direction: row;
}
.content{
    margin-top: 150px;
    max-width: 420px;
}
.content-heading{
    font-family: "poppins-bold",sans-serif;
    font-size: 30pt;
    color:rgb(29, 24, 60);
}
.para-head{
    color: rgb(51, 43, 106);
    word-spacing: -1px;  
    margin-bottom: 40px;
}
.main-div{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.icon-content{
    font-size: 9pt;
    word-spacing: 2px;
    font-weight: bold;
    color:rgb(29, 24, 60);

}
.seperate-content{
    margin-right: 10px;
}
video{
    width: 100%;
    height: 800px;
    margin-bottom: 0%;
}
.video-para{
    position: relative;
    bottom: 650px;
    left: 30%;
    color: white;
    font-size:28pt;
    width: 45%;
    text-align: center;
}
.play-button{
    position: relative;
    height: 90px;
    width: 90px;
    bottom: 650px;
    left: 49%;
    border-radius: 50%;
    background:linear-gradient(to right,orangered,orange,orange);
}
.play-button::before{
    content:"";
    position: absolute;
    border: 10px solid white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    top:40%;
    left: 45%;
    transform: rotate(-90deg);
}
.play-button:hover{
    cursor: pointer;
}
.design{
    margin-top: 0%;
    position: relative;
    bottom: 220px;
    text-align: center;
    color:rgb(29, 24, 60);
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
}
.des-spec{
    font-family: "poppins-bold",sans-serif;
    font-size: 30pt;
    margin-bottom: 0%;  
}
.para-specs{
    color: rgb(51, 43, 106);
    font-size: large;
}
.orange-background{
    width: 350px;
    height:240px;
    border-radius: 20px;
    margin-left: 350px;
    position: relative;
    opacity: 0.8;
}

.attach-headphones{
    transform: rotate(25deg);
    width: 600px;
    height:350px;
    position: absolute;
    left: 250px;
    top: 40px;

}
.image-specification{
    position: relative;
    bottom: 190px;
}
