.black-headphone{
    width: 350px;
    height: 430px;
    border-radius: 20px;
    margin: 130px;
    margin-left:280px;
    margin-right: 100px;
}
hr{
    opacity: 0.3;
}
.easy-content{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.wavy{
    background-image: url(images/soft-color-background-light-curves-260nw-726867931.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    margin-top: 160px;
    max-width: 450px;
}
.content-heading{
    font-family: "Radio Canada Big", sans-serif;
    font-size: 30pt;
    color:rgb(20, 17, 43);
    margin-bottom: 30px;
}
.para-head{
    color:rgb(135, 127, 188);
    font-size: 12pt;
    margin-bottom: 40px;
}
.main-div{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.icon-content{
    font-size: 9.5pt;
    word-spacing: 2px;
    font-weight: 500;
    color:rgb(20, 17, 43);
    margin-top: 20px;

}
.seperate-content{
    margin-right: 15px;
}
video{
    width: 100%;
    height: 802px;
    margin-bottom: 20px;
}
.video{
    height: 802px;
}
.video-para{
    position: relative;
    bottom: 600px;
    left: 30%;
    color: white;
    font-size:28pt;
    width: 45%;
    text-align: center;
}
.play-button{
    position: relative;
    height: 90px;
    width: 90px;
    bottom: 570px;
    left: 49%;
    border-radius: 50%;
    background:linear-gradient(to right,orangered,orange,orange);
}
.play-button::before{
    content:"";
    position: absolute;
    border: 10px solid white;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    top:40%;
    left: 45%;
    transform: rotate(-90deg);
}
.play-button:hover{
    cursor: pointer;
}
.design-specifications{
    width: 100%;
    margin-bottom: 150px;
}
.design{
    margin-top: 100px;
    /* position: relative;
    bottom: 220px; */
    text-align: center;
    color:rgb(20, 17, 43);
    width: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30%;
    margin-bottom: 60px;
}
.des-spec{
    font-family: "Radio Canada Big",sans-serif;
    font-size: 30pt;
    margin-bottom: 20px;  
}
.para-specs{
    color: rgba(20, 17, 43,0.8);
    font-size: large;
}
.orange-background{
    width: 350px;
    height:240px;
    border-radius: 20px;
    margin-left: 350px;
    opacity: 0.8;
}

.attach-headphones{
    transform: rotate(25deg);
    width: 250px;
    height:350px;
    position: absolute;
    left: 420px;
    top: 30px;
}
.image-specification{
    position: relative;
}
.about-headphone{
    display: flex;
    flex-direction: row;
}
.table-column{
    border-bottom: 1px solid rgb(210, 209, 209); 
    padding: 20px 0;  
}
.column1{
    width: 50px;
    font-size: 14pt;
    color: rgba(20, 17, 43,0.8);
}
.column2{
    text-align: right;
    font-size: 14pt;
    color: rgba(20, 17, 43,0.3);
}
.table-side{
    margin-left:100px;
}

