body{
    background-image: url(images/slider_2_bkgrd_m4.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    font-family: "poppins",sans-serif;
}

.navigation{
    display: flex;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.3);
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65%;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.order-tab:hover a{
    color: white;
}

.nav{
    display:inline-block;

}
.nav-tabs{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    font-size: 10pt;
    padding: 10px 10px;
    border-radius: 30px;

}
a:hover {
    color:orange;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.product{
    display: inline-block;
    font-size: 18pt;
    margin: 30px;
}
.order-tab{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    font-size: 10pt;
    font-weight: bolder;
    background:linear-gradient(to right,orangered,orange,orange,orange);
    padding: 10px 20px;
    border-radius: 50px;

}

.order-tab:hover{
    background:orange;
    cursor: pointer;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.headphone-image{
    position: relative;
    right: 100px;
    width: 800px;
    height: 450px;
    margin-top: 50px;
    transform: rotate(25deg);
    margin-right: 0;
}

.discount{
    display: inline;
    position: absolute;
    font-size: larger;
    font-weight: bolder;
    color:white;
    background-color:rgb(14, 12, 29);
    padding: 30px 20px;
    border-radius: 100%;
    top:150px;
    left: 470px;
}
.headphone{
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    position: relative;
    right: 200px;

}
.hr{
    font-size: 16pt; 
    margin-bottom: 0%;
}
.off{
    border: 1px solid white;
    padding: 4px 8px;
    font-size:11pt;
    margin: 10px;
    border-radius: 5px;

}
.name{
    margin-top: 20px;
    font-size: 48pt;
    font-weight: bolder;
    margin-bottom: 0;
    font-family: "poppins-bold",sans-serif;
}
.s7{
    font-size: 34pt;
    margin-top: 15px;
    position: relative;
    bottom: 10px;
    margin-bottom: 0%;
}
.para{
    font-size: 12pt;
    margin-top: 0%;
    text-align:left;
    line-height: 1.5;

}
.cart{
    background:linear-gradient(to right,orangered,orange,orange,orange);
    width: fit-content;
    padding: 13px 25px;
    border-radius: 50px;
    box-sizing: border-box;
}
.cart:hover{
    background:orange;
    cursor: pointer;

}
.cart:hover .atoc{
    color:white;
}
