
.day{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    margin-left: 300px;
    margin-top: 80px;
    padding-bottom: 10px;
}
.icon-heading{
    font-family: "Radio Canada Big", sans-serif;
    color:rgb(20, 17, 43);
    font-size: 31pt;
    word-spacing: 0.1em;
    margin-bottom: 30px;
}
.icon-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5px;
    margin-bottom: 5px;
    padding-left: 3px;
    padding-top: 3px;

}
.icon-details:hover{
    border:1px rgb(135, 127, 188) solid;
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
}
.details{
    margin-left: 10px;
    color:rgb(20, 17, 43);
    font-size: 10pt;
    margin-bottom: 40px;
}
.fa-bell-o{
    color:blueviolet;
    /* position: relative;
    top: 35px; */
    width: 20px;
    height: 15px;
    border: 1px rgb(255, 255, 255) solid;
    background-color: white;
    border-radius: 100%;
    padding: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.icon-para{
    font-size: 9pt;
    position: relative;
    color: rgb(135, 127, 188);
}
.fa-chain-broken{
    color:blueviolet;
    /* position: relative;
    top: 35px; */
    width: 20px;
    height: 15px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 100%;
    background-color:white;
    padding: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}
.fa-backward{
    color:blueviolet;
    /* position: relative;
    top: 35px; */
    width: 20px;
    height: 15px;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 100%;
    padding: 15px;
    background-color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}
.person-images{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    margin-top: 80px;
    margin-left: 130px;
    margin-bottom: 50px;
    /* position: relative;
    top: 50px; */
}
.girl-image{
    width: 200px;
    height: 300px;
    margin-bottom:0;
    border-radius: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    place-items: stretch;
    position:static;
}
.boy-image{
    width: 200px;
    height: 250px;
    margin: 20px;
    border-radius: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    place-self:center end;
    position:static;
}
.child-image{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 130px;
    height: 120px;
    margin:0;
    border-radius: 20px;
    place-self: start end;
    /* position:static; */
    /* position: relative;
    bottom: 10px;
    left: 10px; */

}
.icons-images{
    display: flex;
    flex-direction: row;
    margin-top: 0%;
    background-image:url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-bottom: 50px;
    margin-top: 50px;
}
