body{
    background-image: url(images/slider_2_bkgrd_m4.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: scroll;
    font-family: "poppins",sans-serif;
}

.navigation{
    display: flex;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.5);
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 65%;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
.order-tab:hover a{
    color:orange;
}

.nav{
    display:inline-block;

}
.nav-tabs{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    font-size: 10pt;
    padding: 10px 10px;
    border-radius: 30px;

}
a:hover {
    color:orange;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}
.product{
    display: inline-block;
    font-size: 18pt;
    margin: 30px;
}
.order-tab{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
    font-size: 12pt;
    background:linear-gradient(to right,orangered,orange,orange,orange);
    padding: 10px 20px;
    border-radius: 50px;

}

.order-tab:hover{
    color:orange;
    background: white;
    cursor: pointer;

}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    color: white;
}
.headphone-image{
    position: relative;
    right: 100px;
    width: 800px;
    height: 450px;
    margin-top: 70px;
    transform: rotate(25deg);
}

.discount{
    display: inline;
    position: absolute;
    font-size: larger;
    font-weight: bolder;
    color:white;
    background-color:rgb(17, 14, 36);
    padding: 30px 20px;
    border-radius: 100%;
    top:165px;
    left: 470px;
}
